<!-- A ignorer pour l'instant -->

<div class="ui segment overflowing">
  <table class="ui celled striped selectable table">
    <thead>
    <tr>
      <th class="collapsing"><i class="thumbtack icon"></i> Message Actuel</th>
      <th class="collapsing"><i class="mail alternate icon"></i> Anciens Messages</th>
    </tr>
    <tr  *ngFor="let message of messages">
        <td *ngIf="currentmessage.length > 0 ; else elseBlock">
          {{currentmessage.title}}
        </td>
        <td>
          <ng-template #elseBlock>
            No current message
          </ng-template>
        </td>
        <td>
          <b>Title :</b>{{message.title}}<br>
          <b>Content :</b>{{message.content}}<br>
        </td>
    </tr>
    </thead>
  </table>
</div>
